@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

.nav-desk {
  display: none !important;
}

.header {
  background-image: url(./photos/Header-Mobile.svg);
  padding-top: 18%;
  background-size: cover;
}

.greetings-mobile {
  display: inline-block;
  font-size: 35px;
}

.greetings-desktop {
  display: none;
}

.intro-mobile {
  display: inline-block;
  width: 90%;
}

.intro-desktop {
  display: none;
}

.hover:hover {
  background-color: #d5d5d6;
}

.chevron {
  margin-bottom: 30%;
  display: inline-block;
}

.card {
  transition: box-shadow 0.2s ease;
  transition: transform 0.9s;
}

.card:hover {
  box-shadow: 0 0 0 1px #727ff4;
  transform: scale(1.02);
}

.card-body {
  margin-top: 65%;
}

.button-font {
  font-size: 10px !important;
  font-weight: bold !important;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none !important;
  }

  .nav-desk {
    display: inline-block !important;
  }

  .header {
    background-image: url(./photos/Desktop/Header-Desktop-Transparent.png);
    background-size: 100% 100%;
  }

  .greetings-mobile {
    display: none;
  }

  .greetings-desktop {
    display: inline-block;
    font-size: 45px;
  }

  .intro-mobile {
    display: none;
  }

  .intro-desktop {
    display: inline-block;
    width: 60%;
  }
}
